/* --------------------- /*
	Main
/* --------------------- */

body {
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Times, serif; 
	font-weight: normal;
	font-size: 100%;
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.to-right {
	float: right;
}

.to-left {
	float: left;
}

/* --------------------- /*
	Header Nav
/* --------------------- */
#header-container {
	width: 100%;
	background: #f5f8f8;
	background: linear-gradient(to bottom, #eef6fd, #fefcef);
	height: 50px;
	border-bottom: gray;
	box-shadow: 0 2px 0px rgba(0, 0, 0, .1);
}

#header {
	width: 100%;
}

#logo > img {
	float: left;
	width: 30px;
	margin: 8px 20px;
}

#logo > span {
	float: left;
	position: relative;
	top: 9px;
}

#drafts, #header-name, #logout-button {
	float: right;
	text-align: center;
	position: relative;
	top: 7px;
	margin: 0 10px;
}

#drafts > img {
	position: relative;
	margin-right: 5px;
	top: 2px;
}

#drafts {
	top: 15px;
}

#header-name  {
	top: 17px;
}

#logout-button {
	width: 75px;
	padding: 5px 7px;	
}

#logout-button > img {
	position: relative;
	top: 3px;
}

/* --------------------- /*
	Typografy
/* --------------------- */

/* font-family: "ArialRegular"; */
@font-face {
    font-family: "ArialRegular";
    src: url("../ArialRegular/ArialRegular.eot");
    src: url("../ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../ArialRegular/ArialRegular.woff") format("woff"),
    url("../ArialRegular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArialBold";
    src: url("../ArialBold/ArialBold.eot");
    src: url("../ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../ArialBold/ArialBold.woff") format("woff"),
    url("../ArialBold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 1.6em;
	font-weight: 200;
  	line-height: 1.4;
}

.logo {
	padding: 0;
	margin: 0;
	font-size: 1.6em;
	font-weight: 200;
  	line-height: 1.4;
}

.basic-text {
	font-size: 0.9em;
}

.dotted-underline {
	border-bottom: 1px dashed #1e48d0;
}

p {
	margin: 0;
	padding: 0;
}

/* --------------------- /*
	Inputs
/* --------------------- */

label, .label {
	margin-right: 4px;
	font-family: "ArialRegular", Arial;
	color: #505050;
	font-size: 0.65em;
	display: inline-block;
	position: relative;
}

.label-block {
	margin-right: 4px;
	font-family: "ArialRegular", Arial;
	color: #989898;
	font-size: 0.65em;
}


/* --------------------- /*
	Buttons
/* --------------------- */

.yellow-button {
	cursor: pointer;
	background: #f9e4ad;
	background: linear-gradient(to bottom, #ffeec0, #f5dea0);
	border-radius: 3px;
	border: 1px solid #fff;
	color: #1e48d0;
	box-shadow: 0 1px 0px rgba(0, 0, 0, .2);
	padding: 5px;
}

.blue-button {
	cursor: pointer;
	font-family: "ArialRegular", Arial;
	background-color: #25a2f2;
	border-radius: 7px;
	border: 1px solid #1672ad;
	color: #ffffff;
	box-shadow: 0 1px 1px #1672ad inset;
	display: inline;
	background-image: url(../img/chbox_blue_chked.png);
	background-repeat: no-repeat;
	background-position: 5px 4px;
	padding: 6px;
	padding-left: 22px;
	padding-right: 10px;
	font-size: 0.7em;
}
.white-button {
	cursor: pointer;
	font-family: "ArialRegular", Arial;
	background-color: #ffffff;
	border-radius: 7px;
	border: 1px solid #dbdbdb;
	color: blue;
	display: inline;
	background-image: url(../img/chbox_blue_unchked.png);
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: 6px 6px;
	padding: 6px;
	padding-left: 26px;
	padding-right: 10px;
	font-size: 0.7em;
}

/* --------------------- /*
	Navigation menu
/* --------------------- */
#nav-container {
	position: relative;
	top: -2px;
	width: 50px;
	border-right: 4px solid #376aa5;
	background-color: #123c63;
	float: left;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 70px;
}

#navbar li {
    width: 50px;
    height: 45px;
    border-bottom: 1px solid #376aa5;
    background: url(../img/ico_menu.png);
}

#navbar a {
    text-decoration: none;
    display: block;
    width: 50px;
}

#navbar a:nth-child(1) > li {
	background-position: -154px -10px;
	height: 40px;		
}

#navbar a:nth-child(1) > li:hover {
	background-position: -10px -10px;
	height: 40px;			
}

#navbar a:nth-child(2) > li {
	background-position: -315px -62px;
}

#navbar a:nth-child(2) > li:hover {
	background-position: -215px -62px;	
}

#navbar a:nth-child(3) > li {
	background-position: -315px -107px;
}

#navbar a:nth-child(3) > li:hover {
	background-position: -215px -107px;	
}

#navbar a:nth-child(4) > li {
	background-position: -315px -152px;
}

#navbar a:nth-child(4) > li:hover {
	background-position: -215px -152px;	
}

#navbar a:nth-child(5) > li {
	background-position: -315px -197px;
}

#navbar a:nth-child(5) > li:hover {
	background-position: -215px -197px;	
}

#navbar a:nth-child(6) > li {
	background-position: -315px -242px;
}

#navbar a:nth-child(6) > li:hover {
	background-position: -215px -242px;	
}

#navbar a:nth-child(7) > li {
	background-position: -315px -287px;
}

#navbar a:nth-child(7) > li:hover {
	background-position: -215px -287px;	
}

#navbar a:nth-child(8) > li {
	background-position: -315px -332px;
}

#navbar a:nth-child(8) > li:hover {
	background-position: -215px -332px;	
}

#navbar a:nth-child(9) > li {
	background-position: -315px -377px;
}

#navbar a:nth-child(9) > li:hover {
	background-position: -215px -377px;	
}

#navbar a:nth-child(10) > li {
	background-position: -315px -422px;
}

#navbar a:nth-child(10) > li:hover {
	background-position: -215px -422px;	
}

#navbar a:nth-child(11) > li {
	background-position: -315px -467px;
}

#navbar a:nth-child(11) > li:hover {
	background-position: -215px -467px;	
}

#navbar a:hover {
	background: linear-gradient(to right, #4393c4, #376aa5);
}


/* --------------------- /*
	Navigation menu
/* --------------------- */
#nav-container {
	position: relative;
	top: -2px;
	width: 50px;
	border-right: 4px solid #376aa5;
	background-color: #123c63;
	float: left;
}

#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 70px;
}

#navbar li {
    width: 50px;
    height: 45px;
    border-bottom: 1px solid #376aa5;
    background: url(../img/ico_menu.png);
}

#navbar a {
    text-decoration: none;
    display: block;
    width: 50px;
}

#navbar a:nth-child(1) > li {
	background-position: -154px -10px;
	height: 40px;		
}

#navbar a:nth-child(1) > li:hover {
	background-position: -10px -10px;
	height: 40px;			
}

#navbar a:nth-child(2) > li {
	background-position: -315px -62px;
}

#navbar a:nth-child(2) > li:hover {
	background-position: -215px -62px;	
}

#navbar a:nth-child(3) > li {
	background-position: -315px -107px;
}

#navbar a:nth-child(3) > li:hover {
	background-position: -215px -107px;	
}

#navbar a:nth-child(4) > li {
	background-position: -315px -152px;
}

#navbar a:nth-child(4) > li:hover {
	background-position: -215px -152px;	
}

#navbar a:nth-child(5) > li {
	background-position: -315px -197px;
}

#navbar a:nth-child(5) > li:hover {
	background-position: -215px -197px;	
}

#navbar a:nth-child(6) > li {
	background-position: -315px -242px;
}

#navbar a:nth-child(6) > li:hover {
	background-position: -215px -242px;	
}

#navbar a:nth-child(7) > li {
	background-position: -315px -287px;
}

#navbar a:nth-child(7) > li:hover {
	background-position: -215px -287px;	
}

#navbar a:nth-child(8) > li {
	background-position: -315px -332px;
}

#navbar a:nth-child(8) > li:hover {
	background-position: -215px -332px;	
}

#navbar a:nth-child(9) > li {
	background-position: -315px -377px;
}

#navbar a:nth-child(9) > li:hover {
	background-position: -215px -377px;	
}

#navbar a:nth-child(10) > li {
	background-position: -315px -422px;
}

#navbar a:nth-child(10) > li:hover {
	
}

#navbar a:nth-child(11) > li {
	background-position: -315px -467px;
}

#navbar a:nth-child(11) > li:hover {
	background-position: -215px -467px;	
}

#navbar a:hover {
	background: linear-gradient(to right, #4393c4, #376aa5);
}

/* --------------------- /*
	Main block --- Types
/* --------------------- */

#main-container {
	background-color: #e9e9e9;
	float: left;
}

#inner-container {
	margin-left: 30px;
	margin-top: 15px;
	width: 97%;
	height: 640px;
	background-color: #fcfcfc;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

#inner-container > div {
	padding: 15px;
}

.type-menu > ul > li {
	display: inline;
}

.type-menu > ul {
	padding: 0;
	margin-top: 7px;
}

/* -------------------------- /*
	Main block --- Accordions
/* -------------------------- */

.row {
	width: 100%;
}

#accordion-container {
	position: relative;
	top: -25px;
}

.accordion {
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 15px;
	width: 620px;
	height: 90px;
	border-radius: 5px;
}

.accordion-big {
	height: 160px;
}

#accordion-inner-container-1 {
	margin: 20px 170px;
}

.accordion-header {
	padding: 5px;
	font-family: "ArialBold", Arial;
	font-size: 0.65em;
}

.accordion-header-yellow {
	color: #80734c;
	background-color: #fff6de;
}

.accordion-header-blue {
	background-color: #eaf4ff;
	color: #4f6c8d;
}

.arrow {
	position: relative;
	top: 2px;
	float: left;
	margin-right: 5px; 
	width: 8px;
	height: 8px;
	background-image: url(../img/filter-arrs.png);
}
.arrow-yellow {
	background-position: -1px 8px;
}

.arrow-blue {
	background-position: -1px 0px;
}

.accordion-yellow {
	border: 2px solid #fff6de;
}

.accordion-blue {
	border: 2px solid #eaf4ff;
}

.icon {
	float: right;
	background-image: url(../img/btn-icons.png);
	width: 12px;
	height: 12px;
	margin-left: 5px;
}

.icon-1{
	background-position: -21px -300px;
}

.icon-2 {
	background-position: -21px -481px;
}

.icon-3 {
	position: relative;
	top: -6px;
	left: 3px;	
	width: 18px;
	height: 16px;
	background-color: #25a2f2;
	background-position: -34px -300px;
	padding: 1px;
	margin: 1px 0;
	box-shadow: 0 1px 1px #1672ad inset;
	border-radius: 2px;
}

input[type="checkbox"] {
	display: none;
}

#record-number {
	width: 45px;	
}

input[type="text"] {
	font-family: "ArialBold", Arial;
	padding: 5px;
	height: 16px;
	border: 1px solid #a8acb6;
	border-radius: 3px;
}

#label {
	cursor: pointer;
}

#label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	margin-left: 10px;
	left: 0;
	bottom: 1px;
	background-image: url(../img/checkbox.png);
	background-repeat: no-repeat;
	background-position: -16px 0;
	position: relative;
	top: 3px;
}

input[type="checkbox"]:checked + #label:before {
	background-position: 0 0;
}

#accordion-inner-container-2 {
	margin: 20px 85px;
}

.s {
	width: 20px;
}

.s-2 {
	width: 30px;
	margin-right: 15px;
}


select {
	background-image: url(../img/combobox_arrow_mini.png);
	background-color: #f4f4f3;
	background-repeat: no-repeat;
	background-position: 80px 10px;
	-webkit-appearance: none;
	width: 100px;
	font-family: "ArialBold", Arial;
	padding: 5px;
	height: 28px;
	border: 1px solid #a8acb6;
	border-radius: 3px;
}

#accordion-inner-container-3 {
	margin: 20px 150px;
}

#s-n-1 {
	width: 30px;
	margin-right: 2px;
}

#s-n-2 {
	width: 36px;
	margin-left: 2px;
}

#accordion-inner-container-4 {
	margin: 20px 90px;
}

#organ-name {
	width: 220px;
}

.accordion-inner-container-5 {
	margin: 10px 140px;
}

.accordion-inner-container-5 > input {
	margin-top: 10px;
	width: 250px;
}

.accordion-inner-container-5 label[for="first-name-1"], #first-name-1 {
	position: relative;
	left: 24px;
}

.accordion-inner-container-5 label[for="middle-name-1"], #middle-name-1 {
	position: relative;
	left: -1px;
}

.accordion-inner-container-5 label[for="first-name-2"], #first-name-2 {
	position: relative;
	left: 24px;
}

.accordion-inner-container-5 label[for="middle-name-2"], #middle-name-2 {
	position: relative;
	left: -1px;
}

/* -------------------------- /*
	Main block --- Order 
/* -------------------------- */

#order-container {
	margin-left: 30px;
	margin-top: 0;
	width: 97%;
	height: 70px;
	background-color: #eff0f3;
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
}

.wrapper {
	text-align: center;
	display: table;
	margin: 0 auto;
}

#order-button {
	width: 200px;
	height: 30px;
	text-align: center;
	padding: 3px;
	font-size: 1.15em;
	position: relative;
	vertical-align: middle;
	display: table-cell;
	z-index: 1;
	top: 14px;
}


/* -------------------------- /*
	|| - search-result.html
/* -------------------------- */

/*Inner Container*/

#inner-container-search-results {
	margin-left: 30px;
	margin-top: 15px;
	width: 97%;
	height: 710px;
	background-color: #fcfcfc;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .2);
	border-left: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}

#inner-container-search-results > div {
	padding: 15px;
}

.new-search-button {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.85em;
}

.blue-block {
	background-color: #eaf4ff;
	margin: 10px 0px;
	height: 88px;
	border-radius: 6px;
}

#blue-block-small {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px; 
	height: 32px;
	border-bottom: 1px solid #ccdced;
}

.lead-blue-header {
	position: relative;
	top: 7px;
	font-family: "ArialBold", Arial;
	font-size: 0.75em;
}

.arrow-custom {
	top: 12px;
	margin-left: 8px;
	margin-right: 8px;
}

#change-button {
	font-family: "ArialRegular", Arial;
	margin-top: 4px;
	margin-right: 5px;
	padding: 3px 10px;
	font-size: 0.75em;
}

#blue-block-big span {
	font-size: 0.8em;
}

#blue-block-big > div {
	margin-top: 10px;
}

#blue-block-big > div:nth-child(1) {
	margin-left: 140px;
}

#blue-block-big > div:nth-child(2) {
	margin-right: 140px;
}

#blue-block-big > .to-left > div:nth-child(2) {
	position: relative;
	left: 66px;
}

#blue-block-big > .to-right > div:nth-child(2) {
	position: relative;
	left: 38px;
}

.line-wrapper {
	margin: 0 20px;
	margin-bottom: 45px;
}

.line-wrapper > .to-left > span {
	font-size: 0.8em;
}

.line-wrapper > .to-right > div > select {
	width: 40px;
	height: 25px;
	background-position: 23px 10px;
}

.back-arrow {
	margin-left: 10px;
	margin-right: 6px;
	background: url(../img/btn-icons.png);
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: -18px -338px;
	cursor: pointer;
	background-color: #f9e4ad;
	border-radius: 3px;
	color: #1e48d0;
	box-shadow: 0 1px 0px rgba(0, 0, 0, .2);
	position: relative;
	top: 4px;
}

.rotator > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.rotator > ul li {
	margin: 0 2px;
	display: inline;
	font-size: 0.8em;
}

.rotator a {
	text-decoration: underline;
	width: 18px;
}

.selected {
	background: linear-gradient(to bottom, #4d83b2, #2064a0);
	cursor: pointer;
	background-color: #25a2f2;
	border-radius: 2px;
	border: 1px solid #1672ad;
	color: #ffffff;
	box-shadow: 0 0px 1px #002446;
	padding: 1px 5px;
}

.selected a {
	color: #ffffff;
	text-decoration: none;
}

.next-arrow {
	margin-left: 6px;
	background: url(../img/btn-icons.png);
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: -18px -358px;
	cursor: pointer;
	background-color: #f9e4ad;
	border-radius: 3px;
	color: #1e48d0;
	box-shadow: 0 1px 0px rgba(0, 0, 0, .2);
	position: relative;
	top: 4px;
}

.to-right > #test {

}

.inline {
	display: inline-block;
}

/* -------------------------- /*
	Таблица
/* -------------------------- */

#table-container {
	
}

table {
	width: 100%;
	border-collapse: collapse;
}

table > thead {
	font-size: 0.8em;
}

table td, th {
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

table tr {
	height: 42px;
}

table 

table tr td:nth-child(1) {
	vertical-align: top;
	color: #bfbfbf;
	font-size: 0.8em;
	padding-top: 6px;
	padding-left: 10px;
	width: 30px;
}

table tr td:nth-child(2) {
	color: #2d54d3;
}

.text-block {
	font-size: 0.8em;
	margin-bottom: 3px;
}

table th:not(.black) {
	color: #2d54d3;
}

table th {
	text-align: left;
	height: 21px;
}




/** {
	outline: 1px solid red;
}*/

